* {
    margin: 0;
	padding: 0px;
	font-family: tahoma;
	box-sizing: border-box;
  }
.img {
	width: 90px;
	text-align: left;
	padding:15px;
}
body {
	margin: 0;
	padding: 0;
	background: #fff;
}
.menu-bar {
	background: #22438C;
	text-align: center;
	
}
.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
}
.menu-bar ul li {
	width; 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a { 
    text-decoration: none;
	color: white;
}
.active,.menu-bar ul li:hover {
	background: #2958B0;
	border-radius: 3px;
}
.sub-menu-1 {
	display: none;
}
.sub-menu-2 {
	display: none;
}
.sub-menu-3 {
	display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
	display: block;
	position: absolute;
	background: #1B2A80;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-2 {
	display: block;
	position: absolute;
	background: #1B2A80;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-3 {
	display: block;
	position: absolute;
	background: #1B2A80;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-2 ul {
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-3 ul {
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-2 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-3 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-2 ul li:last-child {
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-3 ul li:last-child {
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
	color: gold;
}
.menu-bar ul li:hover .sub-menu-2 ul li a:hover {
	color: gold;
}
.menu-bar ul li:hover .sub-menu-3 ul li a:hover {
	color: gold;
}

.slideshow {
	width: 80vw;
	height: 400px;
    overflow: hidden;
	padding: 12px;
	border-radius: 6px;
}
.navigation {
	align-items: left;
	padding: 10px;
}
.bar {
	text-align: center;
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin:6px;
	padding-left: 8%;
	cursor: pointer;
	color: white;
	background: black;
	border-radius: 6px;
}
.bar:hover{
	background: gold;
	color: #000;
	border: 2px dotted yellow;
	transition: 0.3s;
	width: 60px;
	height: 14px;
	border-radius: 6px;
}
input [name="r"]{
	visibility: hidden;
}
.slides {
	width: 80vw;
	height: 400px;
	display: flex;
	border-radius: 6px;
	
}
.slide {
	width: 80vw;
	border-radius: 6px;
}
#r1:checked ~ .s1 {
	margin-left: 0;
}
#r2:checked ~ .s1 {
	margin-left: -107.5%;
}
#r3:checked ~ .s1 {
	margin-left: -207.5%;
}
#r4:checked ~ .s1 {
	margin-left: -307.5%;
}
/*content here*/
#heading {
	background: skyblue;
	color: #fff;
	padding: 25px;
	text-align: center;
}
#content-box {
	padding: 25px;
	display: inline-block;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.content-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.box {
	padding: 15px;
	display: block;
	align-items: center; 
	justify-content: space-between;
}
.box img {
	border-radius: 6px;
	height: 309px;
	width: 224px;
}
.box a{
	text-decoration: none;
	color: #000;
}
.box img:hover {
	border-radius: 6px;
	height: 339px;
	width: 254px;
	cursor: pointer;
}
button {
	padding: 9px;
	border-radius: 5px;
	background: #2B2D80;
	color: white;
	border: 2px solid #fff;
	width: 100px;
}